
/* var */
$brown:#5A3E38;
$pink:#A26356;
$skyblue:#9BB5C9;
$blue:#3D687C;
$navy:#292F37;
$green:#8BA468;
$orange:#DA8B54;
$red:#9D434B;



/* header */
.jumbotron{
	height: 300px;
	background-image: url(7.jpeg);
	background-size: cover;
	background-position: center;
	margin:10px;
	border-radius: 10px;

		.title-cover {
			margin: 0 auto;
			background: rgba(255,255,255, 0.6);
			width: 400px;
			height: 200px;
			padding: 20px;
			border-radius: 10px;
		}
			.main-title{
				color: $brown;
				text-align: center;
				font-family: Franklin Gothic Medium;
				border-bottom: 1px solid;
			}
				.list-inline{
					text-align: center;
					font-family: Franklin Gothic Medium;
						.list-inline-item{
							margin-top: 10px;
						}
				}
					a{
						color:#292F37;
						font-size: 20px;
						transition: .4s;
							&:hover{
								color:$pink;
								text-decoration: none;
							}
					}
}


/* login */

@mixin form_layout($color){
	text-align:center;
	color:$brown;
	border-bottom: 2px dotted $color;
	padding-bottom:20px;

	h2{
		padding-bottom:20px;
		border-bottom: 2px dotted $color;
	}

		.field{
		font-family:sans-serif;
		font-size:15px;
		padding:5px 0;
		}

			a{
				color:$pink;
			}

				.actions{
					padding:10px 0;
				}
}



.login_form{
	@include form_layout($skyblue);
}


.signup_form{
	@include form_layout($pink);
}

.edit_form{
	@include form_layout($orange);
	.user-edit-form{
		margin:0 auto;
		padding:5px 0;
	}
}

.edit_book_form{
	@include form_layout($green);
}

/* new book create */
.new-book-box{
	/*width: 90%;*/
	margin: 0 auto;

	h2{
		margin:0 0 10px 0;
		text-align: center;
		font-family: Franklin Gothic Medium;
	}


		.new-book-box-content{
			border-bottom: 1px dotted;
			padding: 30px 0px 20px 0px;
			margin-bottom: 50px;
			/*background-color:pink;*/

			.category-select{
						margin-top:20px
					}

				.create-book{
					margin-top: 10px;
				}

		}
}


/* profile */
.profile{
	border-bottom: 1px dotted;
	padding-bottom:50px;

	.username{
	font-family: Franklin Gothic Medium;
	}
		.profile-edit{
			margin-top:50px;
				a{
					font-family: Franklin Gothic Medium;
					display: block;
    				text-align: center;
    				transition: .4s;
    				color:$navy;

    					&:hover{
    						color:$skyblue;
    						text-decoration: none;
    						border: 1px dotted;
    					}
				}
		}
}




/* user */
.col-xs-4{
	.user-info{
		/*background-image: url(4.png);*/
		padding: 10px;
		height: 170px;
		border-radius:0 10px 10px 10px;

			.col-xs-6{
				padding:0;


					p{
						font-family:MS UI Gothic;
						text-align:left;
						font-size:15px;
						margin:0;
					}

					.username{
						margin:0 0 15px 0;
						text-align:center;
						a{
							color:$navy;
							transition: .4s;
							&:hover{
								padding:0px 20px 3px 20px;
								color:$pink;
								transition: .4s;
								text-decoration: none;
								border: 1px dotted;
							}
						}
					}
			}
	}
}


/* books index */

.col-xs-8{

	h2{
		margin:0 0 10px 0;
		text-align: center;
		font-family: Franklin Gothic Medium;
	}
			.col-xs-4{
				background-color: white;
				padding:10px 10px 10px 10px;
			}

}

				#book-content {
					font-family:MS UI Gothic;
					color:$navy;
    				border: none;
    				background-image: url(11.png);
    				background-repeat : no-repeat;
    				background-position: center;
    				/*background-color:$skyblue;*/
    				/*background-image: url(5.jpg);*/
    				/*background-size: 200%;*/
    				height: 270px;
    				/*padding: 10px;*/
    				border-radius:10px;

    				.book-title{
						/*background-color:white;
						opacity:0.8;*/
						/*border-radius: 10px;*/
						margin: 0 auto;
						height: 90px;
    	 				width: 80%;
    	 				text-align: center;
    	 				margin-bottom:40px;


    	 					.book-title-text{
    	 						padding: 10px 0px;
    	 						line-height: 90px;
    	 						font-size: 20px;
    	 						a{
    	 						transition: 1s;
    	 						color:$navy;
    	 						text-decoration: none;
    	 							&:hover{
    	 								color:$skyblue;
    	 								transition: .4s;
    	 							}
    	 						}

    						}
					}

    							.book-body{
    								border-top:1px solid ;
    								/*margin: 0 auto;*/
    	 							/*background-color:pink;*/
    	 							opacity:0.8;
    	 							/*border-radius:0 0 10px 10px;*/
    	 							height: 80px;
    	 							width: 78%;
    								/*margin-top: 5px;*/
		 							margin-left: 30px;
    	 							padding: 10px 10px 10px 10px;
    							}

    								.index-book-action{
    									margin-top:7px;
    									opacity:0.8;
    									padding-top:5px;
    									padding-left: 120px;
 										text-align: center;
 										font-size:18px;

 										a{
 											color:$navy;
 												&:hover{
 												color:$pink;
 												text-decoration: none;
 												transition: .4s;
 												}
 										}
    								}
				}

.user-books {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
			margin:0 auto;

}

.user-book {
		font-size:18px;
		height:270px;
		width:85px;
		background-image:url(15.png);
		background-repeat : no-repeat;
		background-position: center;
		text-align:center;
		position:relative;
			a{
			height:150px;
			transition: .4s;
			position: absolute;
			transform: translate(-120%, -50%);
			color:$navy;
			font-family:MS UI Gothic;
				&:hover{
				color:$pink;
				transition: .4s;
				text-decoration: none;
				}
			}
}

.paginate{
	padding-left:710px;
	color:$blue;
	font-family:fantasy;
	font-size:20px;
	a{
		color:$skyblue;
		transition: .4s;
		&:hover{
			transition: .4s;
			text-decoration: none;
		}
	}
}


/*bookshow*/
.show-user-prolile{
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px 25px;
	/*background-color: pink;*/
	/*padding-left:25px;*/

		.book-show-userimage{
			margin-left: 10px;
		}

			.book-show-username{
				padding: 10px 0 0 0;
				font-size: 30px;
				font-family: Franklin Gothic Medium;
				a{
					color:$navy;
					transition: .4s;
					 &:hover{
					 	color:$pink;
						text-decoration:none;
						transition: .4s;

					}
				}


			}
}


.book-show-introduction{
		font-family:MS UI Gothic;
}


.show-book-action{
	margin-top:7px;
    opacity:0.8;
    padding-top:5px;
    padding-left: 90px;
 	text-align: center;
 	font-size:18px;

 	a{
 		color:$navy;
 		&:hover{
 		color:$pink;
 		text-decoration: none;
 		transition: .4s;
 		}
 	}
}

.category{
		margin-top:15px;
		padding-left:90px;
}

.category-select{
	font-size:12px;
	font-family:YuGothic;

}




.comment-content{
	margin-top:30px;
	border-top:  1px dotted;
	padding: 10px 0;
		.list-inline-item{
			margin: 5px 0;
		}
}


.iine__button{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
 }

.error_message{
	font-size:15px;
		h2{
			font-size:16px;
			color:$red;
		}

}

.comment-form{
	text-align:right;
		.send{
			margin-top:10px;
		}
}
