
.jumbotron{
	height: 300px;
	background-image: url(0.jpeg);
	background-position: center;
	.main-title{
		color:white;
		text-align: center;
	}
	.list-inline{
		text-align: center;
	}
	a{
		color: white;
		font-size: 20px;
	&:hover{
		color:white;
		}
	}
}

.books{
	background-color: gray;
	height: 500px;
	width: 100px;
	margin-right:30px;
	position: relative;
	.books-contents{
		margin:25px;
		background-color: white;
		height: 200px;
		width: 200px;
		position: absolute;
	}
	.book-title{
		position: absolute;
		background-color: pink;
		margin:10px;
		width: 180px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
	.book-body{
		position: absolute;
		background-color: green;
		margin:10px;
		margin-top: 55px;
		width: 180px;
		height: 130px;
	}
}
/*
.books-contents{
		padding:20px;
		background-color: white;
	}*/